
.bjs-powered-by {
    display: none;
}

.control_panel {
    list-style: none;
    margin-bottom: 0px !important;
}

.bjs-container {
    svg {
        outline: none;
    }
}

.control_panel > li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.control_panel > li > a {
    background: #DDD;
    border: solid 1px #666;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.control_panel a {
    opacity: 0.3;
}

.control_panel a.active {
    opacity: 1.0;
}

.btn-toggle-prop {
    float: right;
}

.buttons {
    position: fixed;
    bottom: 20px;    
    list-style: none;
    z-index: 2;
}

.buttons > li {
    display: inline-block;
    margin-right: 10px;
}
.buttons > li > a {
    background: #DDD;
    border: solid 1px #666;
    display: inline-block;
    padding: 5px;
}

.buttons a {
    opacity: 0.3;
}

.buttons a.active {
    opacity: 1.0;
}

.o_field_bpmn_widget {
    width: 100%;
    min-height: 600px;
    display: flex !important;
    position: relative;
    ul {
        position: absolute;
        left: 0;
        bottom: 0;
        list-style: none;
        z-index: 2;
    }
}

#bpmn_properties {
    background: white;
    border-left: 1px solid #ccc;
}

.o_field_bpmn_widget.o_readonly_modifier {
    min-height: 600px !important;
}